@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,200&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

.App{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #EEEEEE;
}
.navbar{
  width: 100%;
  background-color: #5C793F;
}
/* configuración general */
.saludo-home{
  font-weight: 600;
  margin: 2rem 2rem;
}
.botones{
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.texto-secundario{
  font-size: 16px;
}
.texto-centrado{
  width: 70%;
}
/* configuración general */
/* home */
.banner{
  padding-top: 0.8rem;
  padding-bottom: 2rem;
}
.titulo-home{
  width: 100%;
  background-color: #1E1E1E;
  color: white;
  text-decoration: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.link{
  text-decoration: none;
  color: black;
  margin-bottom: 2rem;
}

/* home */
.container{
  width: 90%;
  display: flex;
}
.main-container{
  margin-top: 1rem;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.buttons-large{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button{
  width: 100%;
  padding: 0.5rem 0rem;
  text-decoration: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 300;
}
.black{
  background-color: black;
  color: white;
  margin-top: 16px;

}
.white{
  color: black;
  font-weight: 500;
  border: solid black 0.1rem;
  margin-top: 1rem;
}
.green{
  background-color: #2C4F09;
  color: white;
}
.violet{
  background-color: #756783;
  color: black;
  font-weight: 600;
}
.red{
  background-color: rgb(165, 34, 34);
  color: white;
  font-weight: 600;
  margin-top: 0.5rem;
  margin-bottom: 0.8rem;
}
.large{
  width: 100%;
}
/* footer inicio */
.footer{
  background-color: #242424;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  margin-top: 4rem;
}
.logo-footer{
  margin-bottom: 1rem;
}
.container-footer{
  padding-bottom: 2rem;
  padding-top: 2rem;
}
.text-white{
  background-color: #779559;
}
.label{
  text-align: left;
  font-size: 14px;
}
.input{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 0.5rem;
}
.radio{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.left{
  float: left;
}
.margin-bottom{
  margin-bottom: 2.5rem;
  -webkit-box-shadow: 10px 10px 30px 0px rgba(199,199,199,1);
  -moz-box-shadow: 10px 10px 30px 0px rgba(199,199,199,1);
  box-shadow: 10px 10px 30px 0px rgba(199,199,199,1);
}
.text-card{
  text-decoration: none;
  font-size: 16px;
}
.narrow{
  width: 100px;
  margin: 0rem 0.5rem;
}
.color{
  color: black;
}
.xs{
  width: 50px;
  margin-bottom: 1rem;
  float: right;
}
.right{
  width: 85%;
  display: flex;
  justify-content: right;
}
.top{
  margin-top: 1.5rem;
}
.bottom{
  margin-bottom: 1.5rem;
}
.image{
  width: 100%;
  height: 190px;
  margin-top: 2.9rem;
}
.search{
  width: 85%;
  display: flex;
  margin: 1rem 0rem 2rem 0rem;
}
.nueva{
  margin: 0rem 0rem 1rem 0rem;
}
.icon-white{
  color: white;
  font-size: 24px;
}